<div ng-controller="FooterCtrl">

  <div class="container text-muted footer-info">
    <div class="col-xs-12 col-sm-12 col-md-6">
      <p class="pull-left">
        <em>{{literals.appTitle}}</em>
        <!--<em><small>{{ 'CALL' | translate }}: {{literals.phone}} <br> {{literals.subTitle1}} &nbsp;&nbsp;&nbsp; {{literals.subTitle2}} &nbsp;&nbsp;&nbsp; </small></em>-->
        <br> <em><small>{{ 'FOOTER_SUBTITLE1' | translate }}<br>{{ 'FOOTER_SUBTITLE2' | translate }} &nbsp;&nbsp;&nbsp; </small></em>
      </p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6">
      <p class="pull-right">
        <em>{{ 'CALL' | translate }}: {{literals.phone}}
        <br><small>email:
            <a style="text-decoration: none;color: inherit;" href="mailto:{{literals.email}}">
            {{literals.email}}</a>
        <br>split4ever 2016 &copy;</small></em>
      </p>
    </div>
  </div>

  <div class="footer-map">
    <ui-gmap-google-map center='map.center' zoom='map.zoom' options='map.options'>
      <ui-gmap-marker coords="map.marker.coords" options="map.marker.options" events="map.marker.events" idkey="map.marker.id">

      </ui-gmap-marker>
    </ui-gmap-google-map>
  </div>

</div>

