<!-- <div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div> -->

  
 <!--  <div class="row"> -->

    <div class="col-xs-6 col-sm-4 col-md-4" ui-scroll="part in datasource" start-index="0" buffer-size="4">
      <div class="thumbnail">

        <uib-carousel interval="0" no-wrap="false">
          <uib-slide ng-repeat="image in part.images" >
            <div class="row">
               <img class="img-responsive img-rounded" ng-src="{{image.data}}">
            </div>
          </uib-slide>
        </uib-carousel>
        <div class=caption>
          <h4>{{part.name}}</h4>
          <p class="pull-right">{{part.price | currency : "€"}}</p>
          <p>tags: {{tags2String(part.tags)}}</p>
          <p>notes: {{part.notes}}</p>
          <p>
            <a href=# class="btn btn-primary" role="button">View</a> 
          </p> 
        </div>
      </div>
    </div>
<!--   </div> -->
 

