<div class="panel panel-default">
	<div class="panel-heading">images </div>
	  <div class="panel-body">
		<uib-carousel interval="0" no-wrap="false">
	      <uib-slide ng-repeat="image in item.images" >
	      <div class="row">
	        	<div class="col-xs-6">
	        		<h6>{{image.name}}</h6>
	        	</div>
	        	<div class="col-xs-6">
	        		<button class="btn btn-default btn-sm" type="submit" ng-click="removeImage($index)" >remove</button>
	        	</div>
	        </div>
	        <div class="row">
	        	 <img class="img-rounded" ng-src="{{image.data}}" style="margin:auto;">
	        </div>
	      </uib-slide>
	    </uib-carousel>
	  </div> 
	<div class="panel-footer">
		<div class="row">
	 		<imagebase64input images="item.images" class="col-xs-4 col-xs-offset-8" />
	 	</div> 
	</div>
</div>

<form name="newpart" novalidate ng-submit="submit()">
	<div class="row">
    <div class="col-sm-6">
      <div class="form-group" ng-class="{'has-error': formErrors && !strategyAdd.strategy.$valid}">
        <label for="strategy" class="control-label">name</label>
        <select name="strategy" class="col-xs-8 form-control" id="strategy" ng-model='strategy.strategy' required>
          <option ng-repeat="strategyType in strategyTypes">{{strategyType}}</option>
        </select>
      </div>
    </div>
     <div class="col-sm-6">
      <div class="form-group" ng-class="{'has-error': formErrors && !strategyAdd.initialValue.$valid}">
        <label for="initialValue" class="control-label">price</label>
        <input name="initialValue" id="initialValue" type="number" class="col-xs-4 form-control" placeholder="...an initial value to invest..." ng-model='strategy.initialValue' required ng-pattern="/^[0-9]/" ng-min="1" ng-max="999999">
       </div>
     </div>
  </div>
</form>