<div class="panel panel-default">
	<div class="panel-heading">images

	</div>
	  <div class="panel-body">
		<uib-carousel active="active" interval="4000" no-wrap="false">
	      <uib-slide ng-repeat="image in item.images" >
	      <div class="row">
	        	<div class="col-xs-6">
	        		<div class="row">
	        			<h6>{{image.name}}</h6>
	        		</div>
	        	</div>
	        </div>
	        <div class="row">
	        	 <img ng-src="{{image.data}}" style="margin:auto;">
	        </div>
	      </uib-slide>
	    </uib-carousel>

	  </div> 
	  <div class="panel-footer">
	  	<div class="row">
	  	<!-- style="visibility: hidden;" -->
	  		<!-- <input type="file" class="btn btn-default pull-right" ng-model="imagesInput" accept="image/*" multiple="true"  ng-onchange="updateModel(imagesInput)" value="add files"/>
	  		<button class="btn btn-default pull-right" ng-click="addImages(this)">add files</button> -->
	  		<imagebase64input class="pull-right" images="item.images" />
	  	</div>
	</div>
</div>

