<div class="panel panel-default">
  <div class="panel-heading">images </div>
  <div class="panel-body">
    <uib-carousel interval="0" no-wrap="false">
      <uib-slide ng-repeat="image in item.images" >
        <div ng-if="session.AdminloggedIn" class="row">
          <div class="col-xs-6">
            <h6>{{image.name}}</h6>
          </div>
          <div class="col-xs-6">
            <button class="btn btn-default btn-sm" type="submit" ng-click="removeImage($index)">remove</button>
          </div>
        </div>
        <div class="row">
          <img class="img-rounded center-block" ng-src="{{image.data}}" obj="image" size="config.part.image.dimension" canvasid="'hiddencanvas'" imageresizer style="margin:auto;" >
        </div>
      </uib-slide>
    </uib-carousel>
  </div>
  <div class="panel-footer">
    <div ng-if="session.AdminloggedIn" class="row">
      <imagebase64input images="item.images" class="col-xs-3 col-xs-offset-9" />
    </div>
  </div>
</div>

<form name="newpartform" novalidate ng-submit="submit()">
  <div ng-if="session.AdminloggedIn" class="row">
    <div class="col-sm-6 pull-left">
      <p ng-if="item._id" >id: {{item._id}} rev: {{item._rev}}</p>
    </div>
    <div class="col-sm-6">
      <button type="button" name="spotlight" class="btn pull-right" ng-class="{ 'btn-default': item.spotlight!=1, 'btn-success': item.spotlight==1 }" ng-model="item.spotlight" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
        spotlight
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="form-group" ng-class="{'has-error': formErrors && !newpartform.name.$valid}">
        <label for="name" class="control-label">name</label>
        <input ng-if="session.AdminloggedIn" name="name" type="text" class="form-control" placeholder="provide a part name..." ng-model='item.name' required ng-minlength="6" ng-maxlength="64">
        <input ng-if="!session.AdminloggedIn" name="name" type="text" class="form-control" placeholder="provide a part name..." ng-model='item.name' required ng-minlength="6" ng-maxlength="64" readonly>

      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group" ng-class="{'has-error': formErrors && !newpartform.price.$valid}">
        <label for="price" class="control-label">price</label>
        <div class="input-group">
          <span class="input-group-addon" id="sizing-addon">€</span>
          <input ng-if="session.AdminloggedIn" type="number" name="price" class="form-control" placeholder="0.0" aria-describedby="sizing-addon" ng-model='item.price' required ng-min="1" ng-max="999999" />
          <input ng-if="!session.AdminloggedIn" type="number" name="price" class="form-control" placeholder="0.0" aria-describedby="sizing-addon" ng-model='item.price' required ng-min="1" ng-max="999999" readonly/>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group" ng-class="{'has-error': formErrors && !newpartform.model.$valid}">
        <label for="model" class="control-label">model</label>
        <div class="input-group">
          <select ng-if="session.AdminloggedIn" class="form-control" name="model" ng-model="item.model" required>
            <!--<option selected>___new_model___</option>-->
            <option ng-repeat="model in models">{{ model }}</option>
          </select>
          <span ng-if="session.AdminloggedIn" class="input-group-btn">
              <button type="button" class="btn btn-default btn-sm" ng-click="modelClicked($event)">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </button>
            </span>
          <p ng-if="!session.AdminloggedIn" class="form-control-static">{{ item.model }}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group" ng-class="{'has-error': formErrors && !newpartform.category.$valid}">
        <label for="category" class="control-label">category</label>
        <div class="input-group">
          <select ng-if="session.AdminloggedIn" class="form-control" name="category" ng-model="item.category" required >
            <option ng-repeat="cat in categories">{{ cat }}</option>
          </select>
          <span ng-if="session.AdminloggedIn" class="input-group-btn">
                <button type="button" class="btn btn-default btn-sm" ng-click="categoryClicked($event)">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
            </span>
          <p ng-if="!session.AdminloggedIn" class="form-control-static">{{ item.category }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group" ng-class="{'has-error': formErrors && !newpartform.notes.$valid}">
        <label for="notes" class="control-label">notes</label>
        <textarea ng-if="session.AdminloggedIn" name="notes" class="form-control" placeholder="..." ng-model='item.notes' required ng-min="1" ng-max="999999" ></textarea>
        <textarea ng-if="!session.AdminloggedIn" name="notes" class="form-control" placeholder="..." ng-model='item.notes' required ng-min="1" ng-max="999999" readonly >
      </div>
    </div>
  </div>
  <div ng-if="session.AdminloggedIn" class="row col-sm-12">
    <div class="col-sm-6">
      <button ng-if="item._id && item._rev" type='button' class="btn btn-danger pull-left" ng-click="delete()">delete</button>
    </div>
    <div class="col-sm-6">
      <input type="submit" class="btn btn-primary pull-right" value="submit" >
    </div>
  </div>
  <div class="row col-sm-12">
    <div id="partAlert"> </div>
  </div>
</form>
<div id="hiddenarea" style="visibility: hidden;">
  <canvas id="hiddencanvas"></canvas>
</div>
