.mainFilterRow {
  margin-top: 20px;
  margin-bottom: 15px;
}

.x-carousel-caption{
  background: rgba(0, 0, 0, 0.4); /* Green background with 30% opacity */
/*  width: 100%;*/
  left: 0;
  right: 0;
}
.x-carousel {
  max-width: 832px;
  max-height: 652px;
}

.x-jumbotron{
  background-color: transparent;
}

.x-parts-list {
  min-height: 624px;
  max-height: 1248px;
}

.x-parts-list-part-carousel {
  height: 200px;
  margin: 5px;
}

.x-parts-list-part-caption {
  height: 200px;
  min-height: 200px;
  margin: 5px;
}

.x-text{
  text-overflow:ellipsis;
}






